USE [dbacentral]
GO
/****** Object:  StoredProcedure [dbo].[dbasp_Build_host_file]    Script Date: 2/2/2015 5:55:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[dbasp_Build_host_file]
AS
DECLARE		@Output		VarChar(max)	= '';
DECLARE		@OutputFileName	VarChar(max)	= '\\SEAPDBASQL01\SEAPDBASQL01_dbasql\dba_reports\Hosts';

;WITH		IPADDR
		AS
		(
		SELECT [ClusterName]
		      ,[GroupName]
		      ,[ResourceDetail] [IP]
		  FROM [dbacentral].[dbo].[DBA_ClusterInfo]
		WHERE	ResourceType = 'IP Address'
		AND	[State] IN ('Online','Up')
		)
		,SQLNAME
		AS
		(
		SELECT [ClusterName]
		      ,[GroupName]
		      ,UPPER(REPLACE([ResourceDetail],'\MSSQLSERVER','')) [NAME]
		  FROM [dbacentral].[dbo].[DBA_ClusterInfo]
		WHERE	ResourceType = 'SQL Server'
		)
		,HostData	
		AS	
		(
		SELECT		ROW_NUMBER() over (ORDER BY LEFT([Source],32) desc,[ServerName]) [RowID]
				, CAST([IPnum] AS CHAR(16)) + CHAR(9) 
				+ CAST([ServerName] AS CHAR(35)) + CHAR(9) 
				+ '# ' 
				+ [Source] [Record]
				,[Source]
					FROM	(
						SELECT		[ServerName]
								,[IPnum]
								,'DBA_ServerInfo.ServerName' [Source]
						FROM		[dbacentral].[dbo].[DBA_ServerInfo]

						UNION
							  
						SELECT		[SQLName]
								,[IPnum]
								,'DBA_ServerInfo.SQLName'
						FROM		[dbacentral].[dbo].[DBA_ServerInfo]

						UNION  
							
						SELECT		SQLNAME.[NAME]
								,IPADDR.[IP]
								,'DBA_ClusterInfo   SQL Cluster'
						FROM		SQLNAME
						JOIN		IPADDR
							ON	IPADDR.[ClusterName] = SQLNAME.[ClusterName]
							AND	IPADDR.[GroupName] = SQLNAME.[GroupName]

						UNION

						SELECT		UPPER([ClusterName])
								,[ResourceDetail]
								,'DBA_ClusterInfo   Cluster Group'
						FROM		[dbacentral].[dbo].[DBA_ClusterInfo]
						WHERE		ResourceType = 'IP Address'
							AND	ResourceName = 'Cluster IP Address'

						UNION

						SELECT		UPPER(COALESCE([CurrentOwner], REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
										ResourceName
										,'Public Team - ',''),'Public NIC - ',''),'Public - ','')
										,' - Public Team',''),' - Public NIC',''),' - Public','')
										))
								,[ResourceDetail]
								,'DBA_ClusterInfo   Cluster Node' 
						FROM		[dbacentral].[dbo].[DBA_ClusterInfo]
						WHERE		ResourceType = 'Network Interface'
							AND	ResourceName LIKE '%Public%'
							
						) Data
					WHERE		parsename([IPnum],4) IS NOT NULL
					)

SELECT		@Output	= @Output 
			+ CHAR(13)+CHAR(10)
			+ CASE WHEN LEFT(C.[Source],32) != COALESCE(LEFT(P.[Source],32),LEFT(C.[Source],32)) THEN CHAR(13)+ CHAR(10) 
				ELSE '' END
			+ C.[Record]
From		HostData C
LEFT JOIN	HostData P
	ON	C.RowID = P.RowID +1
ORDER BY	C.RowID

RAISERROR ('  Generating Hosts File',-1,-1) WITH NOWAIT
RAISERROR ('  Output to: %s',-1,-1,@OutputFileName) WITH NOWAIT
RAISERROR ('    ',-1,-1) WITH NOWAIT

exec dbaadmin.dbo.dbasp_FileAccess_Write @Output, @OutputFileName,0,1


PRINT '# ==================================================================================================== '
PRINT '# ==================================================================================================== '
PRINT '# '
PRINT '#              HOST SECTION GENERATED BY SEAPDBASQL01.DBACENTRAL.DBO.DBASP_BUILD_HOST_FILE'
PRINT '# '
PRINT '# ==================================================================================================== '
PRINT '# ==================================================================================================== '
PRINT '# '

exec dbaadmin.dbo.dbasp_PrintLarge @Output

PRINT '# '
PRINT '# ==================================================================================================== '
PRINT '# ==================================================================================================== '

