
SELECT * FROM [foglight].[dbo].[obs_string_0033] where [os_value] like '%error%'



USE [dbaadmin]
GO

SELECT 'SELECT * FROM [foglight].[dbo].[obs_string_' + RIGHT('0000'+cast(Number as VarChar(2)),4) + '] where [os_value] like ''%error%'' UNION ALL'
FROM dbaadmin.[dbo].[dbaudf_NumberTable] (
   1
  ,81
  ,1)
GO

SELECT * FROM [foglight].[dbo].[obs_string_0001] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0002] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0003] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0004] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0005] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0006] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0007] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0008] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0009] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0010] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0011] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0012] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0013] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0014] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0015] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0016] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0017] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0018] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0019] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0020] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0021] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0022] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0023] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0024] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0025] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0026] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0027] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0028] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0029] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0030] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0031] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0032] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0033] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0034] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0035] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0036] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0037] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0038] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0039] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0040] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0041] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0042] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0043] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0044] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0045] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0046] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0047] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0048] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0049] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0050] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0051] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0052] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0053] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0054] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0055] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0056] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0057] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0058] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0059] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0060] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0061] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0062] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0063] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0064] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0065] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0066] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0067] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0068] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0069] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0070] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0071] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0072] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0073] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0074] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0075] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0076] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0077] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0078] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0079] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0080] where [os_value] like '%error%' UNION ALL
SELECT * FROM [foglight].[dbo].[obs_string_0081] where [os_value] like '%error%'