
SELECT		[Site]
		,VMI.ClusterName
		,VMI.ESXIHostName
		,VMI.ESXIHostCores AS Total_ESX_Cores
		,VMI.CORE_Commited
		,VMI.CORE_OVERCommit
		,COUNT(DISTINCT SI.ServerName) ServerCount
		,SUM(CASE WHEN SI.CPUcore < 4 THEN 4 ELSE SI.CPUcore END) Total_VM_Cores
		,dbaadmin.dbo.dbaudf_ConcatenateUnique(SI.ServerName) AS [Servers]


FROM		dbacentral.dbo.DBA_ServerInfo SI
LEFT JOIN	(
		SELECT		'Seattle' collate SQL_Latin1_General_CP1_CI_AS AS [Site]
				,VPG.[NAME] collate SQL_Latin1_General_CP1_CI_AS AS VMGuestLogicalName
				,VPH.[NAME] collate SQL_Latin1_General_CP1_CI_AS AS ESXIHostName
				,VPH.[CPU_CORE_COUNT] AS ESXIHostCores
				,(SELECT SUM(CASE WHEN POWER_STATE = N'On' THEN NUM_VCPU ELSE 0 END) FROM [SEAPVCENTSQL].[VCDB].[dbo].[VPXV_VMS] WHERE HOSTID = VPH.HOSTID) AS CORE_Commited
				,(SELECT SUM(CASE WHEN POWER_STATE = N'On' THEN NUM_VCPU ELSE 0 END)*1./VPH.CPU_CORE_COUNT FROM [SEAPVCENTSQL].[VCDB].[dbo].[VPXV_VMS] WHERE HOSTID = VPH.HOSTID) AS CORE_OVERCommit
				,ISNULL(VPG.[DNS_NAME],'') collate SQL_Latin1_General_CP1_CI_AS AS DNS_NAME
				,ISNULL(VPG.[IP_ADDRESS],'') collate SQL_Latin1_General_CP1_CI_AS AS IP_ADDRESS
				, VCR.NAME collate SQL_Latin1_General_CP1_CI_AS AS ClusterName
		FROM		[SEAPVCENTSQL].[VCDB].[dbo].[VPXV_VMS] AS VPG WITH (NOLOCK,NOWAIT)
		JOIN		[SEAPVCENTSQL].[VCDB].[dbo].[VPXV_HOSTS] AS VPH WITH (NOLOCK,NOWAIT)
			ON	VPH.HOSTID = VPG.HOSTID
		LEFT JOIN	[SEAPVCENTSQL].[VCDB].[dbo].[VPXV_RESOURCE_POOL] AS VRP WITH (NOLOCK,NOWAIT)
			ON	VRP.RESOURCEPOOLID = VPG.RESOURCE_GROUP_ID
		LEFT JOIN	[SEAPVCENTSQL].[VCDB].[dbo].[VPXV_COMPUTE_RESOURCE] AS VCR  WITH (NOLOCK,NOWAIT)
			ON	VCR.RESOURCEPOOLID = VRP.PARENT_ID

		UNION

		SELECT		'Ashburn' collate SQL_Latin1_General_CP1_CI_AS AS [Site]
				,VPG.[NAME] collate SQL_Latin1_General_CP1_CI_AS AS VMGuestLogicalName
				,VPH.[NAME] collate SQL_Latin1_General_CP1_CI_AS AS ESXIHostName
				,VPH.[CPU_CORE_COUNT] AS ESXIHostCores
				,(SELECT SUM(CASE WHEN POWER_STATE = N'On' THEN NUM_VCPU ELSE 0 END) FROM [ASHPSQLVCTRA].[VCDB].[dbo].[VPXV_VMS] WHERE HOSTID = VPH.HOSTID) AS CORE_Commited
				,(SELECT SUM(CASE WHEN POWER_STATE = N'On' THEN NUM_VCPU ELSE 0 END)*1./VPH.CPU_CORE_COUNT FROM [ASHPSQLVCTRA].[VCDB].[dbo].[VPXV_VMS] WHERE HOSTID = VPH.HOSTID) AS CORE_OVERCommit
				,ISNULL(VPG.[DNS_NAME],'') collate SQL_Latin1_General_CP1_CI_AS AS DNS_NAME
				,ISNULL(VPG.[IP_ADDRESS],'') collate SQL_Latin1_General_CP1_CI_AS AS IP_ADDRESS
				,VCR.NAME collate SQL_Latin1_General_CP1_CI_AS AS ClusterName
		FROM		[ASHPSQLVCTRA].[VCDB].[dbo].[VPXV_VMS] AS VPG WITH (NOLOCK,NOWAIT)
		JOIN		[ASHPSQLVCTRA].[VCDB].[dbo].[VPXV_HOSTS] AS VPH WITH (NOLOCK,NOWAIT)
			ON	VPH.HOSTID = VPG.HOSTID
		LEFT JOIN	[ASHPSQLVCTRA].[VCDB].[dbo].[VPXV_RESOURCE_POOL] AS VRP WITH (NOLOCK,NOWAIT)
			ON	VRP.RESOURCEPOOLID = VPG.RESOURCE_GROUP_ID
		LEFT JOIN	[ASHPSQLVCTRA].[VCDB].[dbo].[VPXV_COMPUTE_RESOURCE] AS VCR  WITH (NOLOCK,NOWAIT)
			ON	VCR.RESOURCEPOOLID = VRP.PARENT_ID

		) VMI
ON		SI.ServerName collate SQL_Latin1_General_CP1_CI_AS  = VMI.VMGuestLogicalName
	OR	VMI.DNS_NAME LIKE '%'+ SI.ServerName collate SQL_Latin1_General_CP1_CI_AS + '%'




WHERE		SI.SQLEnv = 'production'
	AND	SI.Active != 'N'
	AND	SI.SystemModel Like '%VMware%'

GROUP BY	[Site]
		,VMI.ClusterName  
		,VMI.ESXIHostName
		,VMI.ESXIHostCores
		,VMI.CORE_Commited
		,VMI.CORE_OVERCommit
		
ORDER BY	1,2,3


SELECT
    vh.NAME AS HOST_NAME,
    HOST_MODEL,
    CPU_MODEL,
    CPU_COUNT,
    CPU_CORE_COUNT,
    CPU_HZ,
    CPU_THREAD_COUNT,
    SUM(CASE WHEN vm.POWER_STATE = N'On' THEN vm.NUM_VCPU ELSE 0 END) AS VM_VCPU_ACTIVE,
    MEM_SIZE,
    SUM(CASE WHEN vm.POWER_STATE = N'On' THEN vm.NUM_VCPU ELSE 0 END)*1./CPU_THREAD_COUNT AS THREAD_OVERCommit,
    SUM(CASE WHEN vm.POWER_STATE = N'On' THEN vm.NUM_VCPU ELSE 0 END)*1./CPU_CORE_COUNT AS CORE_OVERCommit,
    CAST(MEM_SIZE AS BIGINT)/1024/1024 AS MEM_SIZE_MB,
    SUM(CASE WHEN vm.POWER_STATE = N'On' THEN vm.MEM_SIZE_MB ELSE 0 END) AS VM_MEM_SIZE_MB,
    SUM(CASE WHEN vm.POWER_STATE = N'On' THEN vm.MEM_SIZE_MB ELSE 0 END)*1./(CAST(MEM_SIZE AS BIGINT)/1024/1024) AS MEM_OVERCommit,
    SUM(CAST(vm.MEMORY_OVERHEAD AS BIGINT)) AS VM_MEMORY_OVERHEAD,
    SUM(vm.MEM_SIZE_MB) AS VM_MEM_SIZE_MB_POTENTIAL,
    SUM(vm.NUM_VCPU) AS VM_VCPU_ALLOC_POTENTIAL,
    NIC_COUNT,
    HBA_COUNT,
    SUM(CASE WHEN vm.VMMWARE_TOOL = N'OK' THEN 1 ELSE 0 END) AS VM_TOOLS_OK,
    SUM(CASE WHEN vm.VMMWARE_TOOL = N'Old' THEN 1 ELSE 0 END) AS VM_TOOLS_OUT_OF_DATE,
    SUM(vm.NUM_VCPU) AS VM_VCPU_ALLOC
FROM [ASHPSQLVCTRA].[VCDB].dbo.VPXV_HOSTS AS vh
INNER JOIN [ASHPSQLVCTRA].[VCDB].dbo.VPXV_VMS AS vm
    ON vh.HOSTID = vm.HOSTID
GROUP BY vh.NAME, HOST_MODEL, CPU_MODEL, CPU_COUNT, CPU_CORE_COUNT, CPU_HZ,
    CPU_THREAD_COUNT, MEM_SIZE, NIC_COUNT, HBA_COUNT;



SELECT
    vh.NAME AS HostName,
    vv.NAME AS GuestName,
    SAMPLE_TIME,
    SAMPLE_INTERVAL,
    (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 AS READY_PERCENT,
    CASE
        WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 5
                AND (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 < 10
            THEN N'WARN'
        WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 10 THEN N'RED'
        ELSE N'OK'
    END AS CPURDY_State,
    STAT_VALUE AS CPUReady_Summation,
    NUM_VCPU
FROM [ASHPSQLVCTRA].[VCDB].dbo.VPXV_HIST_STAT_DAILY AS vhsd
INNER JOIN [ASHPSQLVCTRA].[VCDB].dbo.VPXV_VMS AS vv
    ON vhsd.ENTITY = N'vm-'+CAST(vv.VMID AS NVARCHAR)
INNER JOIN  [ASHPSQLVCTRA].[VCDB].dbo.VPXV_HOSTS AS vh
    ON vv.HOSTID = vh.HOSTID
WHERE STAT_GROUP = N'cpu'
  AND STAT_NAME = N'ready'
  AND CASE
        WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 5
            AND (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 < 10
            THEN N'WARN'
        WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 10 THEN N'RED'
        ELSE N'OK'
        END <> N'OK'
ORDER BY CPURDY_State, READY_PERCENT DESC;
 
-- Weekly %RDY values
SELECT
    vh.NAME AS HostName,
    vv.NAME AS GuestName,
    SAMPLE_TIME,
    SAMPLE_INTERVAL,
    (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 AS READY_PERCENT,
    CASE
        WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 5
                AND (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 < 10
            THEN N'WARN'
        WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 10 THEN N'RED'
        ELSE N'OK'
    END AS CPURDY_State,
    STAT_VALUE AS CPUReady_Summation,
    NUM_VCPU
FROM [ASHPSQLVCTRA].[VCDB].dbo.VPXV_HIST_STAT_WEEKLY AS vhsd
INNER JOIN [ASHPSQLVCTRA].[VCDB].dbo.VPXV_VMS AS vv
    ON vhsd.ENTITY = N'vm-'+CAST(vv.VMID AS NVARCHAR)
INNER JOIN  [ASHPSQLVCTRA].[VCDB].dbo.VPXV_HOSTS AS vh
    ON vv.HOSTID = vh.HOSTID
WHERE STAT_GROUP = N'cpu'
  AND STAT_NAME = N'ready'
  --AND CASE
  --      WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 5
  --          AND (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 < 10
  --          THEN N'WARN'
  --      WHEN (STAT_VALUE/ (vv.NUM_VCPU * SAMPLE_INTERVAL * 1000)) * 100 > 10 THEN N'RED'
  --      ELSE N'OK'
  --      END <> N'OK'
ORDER BY CPURDY_State, READY_PERCENT DESC;